
.large-font {
    font-size: 1.4rem;
    
}
body {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/images/background.png') no-repeat center center fixed; 
    background-size: cover;
    margin-top: 15vh;
    min-height: 100vh;
}
.navbar {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
    padding: 1.5rem 1rem;
    padding: 1.5rem 1.5rem;  
}
.navbar-brand img {
    height: 60px;
}
.navbar-nav li  {
    display: flex;
    margin-left: 1.5rem;
    justify-content: space-between;
}
.big-logo {
    width: 300px;  
    height: auto;
}

.big-text {
    font-size: 5rem;  
    color: white;
}
.footer {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4));
    padding: 1rem 1rem;

}
.filters{
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4));
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;

}
.form-select{
    width: 16.6%;
    margin-right: 2rem;
}
.form-control{
    width: 16.6%;
    margin-right: 2rem;
}
.btn{
    padding-left: 5rem;
    padding-right: 5rem;
    margin-left: 3rem;
    background-color: #4b00ec;
    color: white;
}
.tour-card{
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4));
}
.weather-card{
    padding: 0;
    margin: 0;
}